.form-position {
    width: 60%;
    margin: auto;
  }
  
  ::ng-deep .ng-value-container {
    margin-left: 15px;
  }
  
  ::ng-deep .ng-select-container {
    border-radius: 10px !important;
  }
  
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .center-block {
    text-align: center;
  }
  
  .alert-style {
    width: max-content;
    padding: 15px 150px;
    margin: auto;
  }
  
  .error-text {
    color: red;
    font-size: 16px !important;
    font-weight: 400 !important;
    font-family: sans-serif;
  }