<div class="center-block" *ngIf="isLoading">
  <div class="lds-dual-ring"></div>
</div>

<input
  *ngIf="!isLoading && (clientsWillSuspend.length > 0 || isFilter)"
  type="text"
  placeholder="Search"
  class="search-input"
  (keyup)="searchClient($event)"
/>

<table
  *ngIf="clientsWillSuspend.length > 0 && !isLoading"
  class="table table-bordered table-striped loading-position"
>
  <thead>
    <tr>
      <th scope="col" class="text-style">#</th>
      <th scope="col" class="text-style">Mac</th>
      <th scope="col" class="text-style">Tel Adsl</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let client of clientsWillSuspend
          | paginate : { itemsPerPage, currentPage };
        index as i
      "
    >
      <th scope="row" class="text-style">{{ i + 1 }}</th>
      <td class="text-style">{{ client.mac }}</td>
      <td class="text-style">{{ client.tel_adsl }}</td>
    </tr>
  </tbody>
</table>

<p
  *ngIf="!isLoading && clientsWillSuspend.length == 0 && !isFilter"
  class="message-style"
>
  No client will suspend
</p>
<p
  *ngIf="!isLoading && clientsWillSuspend.length == 0 && isFilter"
  class="message-style"
>
  No client will suspend with the selected filter
</p>

<pagination-controls
  *ngIf="clientsWillSuspend.length > 0"
  (pageChange)="currentPage = $event"
></pagination-controls>
