.btn-submit {
    width: 10rem;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #2dcecc;
    color: white;
    float: right;
  }

  .input-style {
    width: 20rem;
    height: 30px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: "lato";
  }

  .table {
    width: 97%;
  }

  .loading-position {
    margin: 40px 20px;
  }

  .text-style {
    font-size: 16px;
    font-weight: bold;
    font-family: "lato";
  }


  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .center-block {
    text-align: center;
  }

  .alert-style {
    width: 50%;
    margin: auto;
  }

  .error-text {
    color: red;
    font-size: 16px !important;
    font-weight: "lato";
  }