/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

@font-face {
  font-family: lato;
  src: url(assets/fonts/lato/Lato-Regular.ttf) format("opentype");
}

.font-family-lato {
  font-family: "lato";
}
