.input-style {
  width: 20rem;
  height: 35px;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: "lato";
}

.btn-submit {
  width: 10rem;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: #2dcecc;
  color: white;
  float: right;
}

.table {
  width: 97% !important;
}

.loading-position {
  margin: 40px 20px;
}

.text-style {
  font-size: 16px;
  font-weight: bold;
  font-family: "lato";
}

.alert-style {
  width: 50%;
  margin: auto;
  // min-width: ;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-block {
  text-align: center;
}

.alert-style {
  width: 50%;
  margin: auto;
}

.icon-style {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.no-bullets {
  list-style-type: none;
}

.li-margin {
  margin-bottom: 5px;
}

.alert-margin-top {
  margin-top: 10px;
}

.danger-text {
  color: rgb(227, 41, 41);
}

.success-text {
  color: rgb(74, 208, 74);
}

::ng-deep .ngx-pagination {
  text-align: center;
  width: 97%;
}

::ng-deep .ngx-pagination li {
  border-radius: 50% !important;
}

::ng-deep .ngx-pagination li a:hover {
  border-radius: 50% !important;
}

::ng-deep .pagination-previous {
  float: left !important;
}

::ng-deep .pagination-next {
  float: right !important;
}
